/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e6dd; /* Light gray background */
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e9e6dd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* User Container Styles */
.user-container {
    margin-top: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-form button {
    margin-left: 5px;
    padding: 15px 15px;
    border: none;
    background-color: #e9e6dd; /* Dark blue button */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease-in;
}

.search-form button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.user-list-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Each item takes a full row width */
    gap: 20px;
}

.user-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden; /* Ensure user items don't overflow their containers */
    display: flex;
}

.user-item img {
    width: 80px; /* Set the image width */
    height: 80px; /* Set the image height */
    border-radius: 50%; /* Make the image circular */
    margin-right: 20px; /* Add space between image and details */
}

.user-info {
    margin-top: 10px;
}

.user-info p {
    margin: 5px 0;
}

.edit-form {
    background-color: #f4f4f4; /* Light gray form background */
    padding: 15px;
}

.upload-form {
    background-color: #f4f4f4; /* Light gray form background */
    padding: 15px;
    margin-top: 20px;
}

.upload-form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
