/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    position: sticky;
    top: 0;
    background-color: rgba(2, 116, 189, 0.9); /* Initial background color with transparency */
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Transition for smooth effect */
    backdrop-filter: blur(10px); /* Initial blur effect */
}

.header.scrolled {
    background-color: rgba(2, 116, 189, 0.3); /* Adjust transparency as needed */
    backdrop-filter: blur(20px); /* Increase blur when scrolled */
}

/* Logo Styling */
.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    margin-right: 10px; 
}

.logo span {
    font-size: 30px;
    margin-top: 5px;
    color: #e9e6dd;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.logo .black-text {
    color: #000;
}

/* Button Container Styling */
.button-container {
    display: flex;
    gap: 20px;
}

.button form {
    display: inline-block;
}

.button button {
    font-weight: bold;
    font-family: Inter, sans-serif;
    background-color: transparent; /* Make buttons transparent */
    color: #e9e6dd;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease-in;
}

.button button:hover {
    transform: scale(1.1);
}
