body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;                
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.back-button {
    background-color: #4CAF50; /* Green background */
    border: none;             /* Remove borders */
    color: white;             /* White text */
    padding: 15px 32px;       /* Some padding */
    text-align: center;       /* Centered text */
    text-decoration: none;    /* Remove underline */
    display: inline-block;    /* Make the link like a button */
    font-size: 16px;          /* Increase font size */
    margin: 4px 2px;          /* Some margin */
    cursor: pointer;          /* Pointer/hand icon */
    border-radius: 12px;      /* Rounded corners */
    position: absolute;       /* Absolute positioning */
    top: 10px;                /* Distance from the top */
    left: 10px;               /* Distance from the left */
}

.admin-container {
    background-color: #ffffff;
    padding: 75px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.admin-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

.admin-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.admin-container button {
    width: calc(100%);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.admin-container button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.bottom-back-button {
    /* Add your custom styles here */
    background-color: #4CAF50; /* Example: Green background */
    color: white;             /* White text */
    border: none;             /* No border */
    padding: 10px 20px;       /* Padding */
    text-align: center;       /* Centered text */
    text-decoration: none;    /* No underline */
    display: inline-block;    /* Inline-block element */
    font-size: 16px;          /* Font size */
    margin: 4px 2px;          /* Margin */
    cursor: pointer;          /* Pointer cursor on hover */
    border-radius: 8px;       /* Rounded corners */
}